<ul>
    <li><%= link_to 'Alpha Blog', articles_path %></li>
    <li><%= link_to 'About', about_path %></li>
</ul>

<h1>This is about page</h1>
<p>Im gonna tell you more about me here</p>
<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
</ul>